@import 'fonts.css';

body {
    font-family: 'Open Sans';
}

ul, li {
    display: block;
    padding: 0;
    margin: 0;
}

.menu-bar {
    padding: 20px 0;
    color: #212121;
    background: #fff;
}

.menu__item {
    margin-left: 37px;
}

.menu__item a {
    font-family: 'Open Sans Semibold';
    font-size: 20px;
    color: #212121;
}

.menu__item a:hover {
    text-decoration: none;
    color: #2f5c5c;
}

/*Header*/
.header {
    color: #fff;
    text-align: center;
    padding: 180px 0;
    background-size: cover;
    background-position: 0 100%;
    background-image: url(/img/header.png);
}

.header__title {
    font-size: 60px;
}

.header__text {
    font-size: 20px;
    margin-bottom: 100px;
}

.button {
    padding: 10px 25px;
    margin: 0 10px;
    color: #fff;
    transition: 0.3s;
    background: #00897b;
    border: 2px solid #00897b;
}

.button:hover {
    background: transparent;
    border: 2px solid #fff;
}



/*About Us*/
.about {
    padding-top: 120px;
    padding-bottom: 125px;
    background-color: #fff;
    color: #000;
    text-align: center;
}

.about__title {
    font-size: 30px;
    font-weight: bold;
}

.about__text {
    color: #212121;
    font-size: 15px;
    margin-bottom: 110px;
    transition: 0.3s;
}

.about__item {
    margin-top: 30px;
    margin-bottom: 20px;
    font-family: 'Open Sans Semibold';
    font-size: 20px;
}

/*services*/
.services {
    padding-top: 165px;
    padding-bottom: 125px;
    background-color: #e4fdf9;
    color: #000;
    text-align: center;
}

.services__title {
    font-size: 30px;
    font-weight: bold;
}

.services__text {
    color: #212121;
    font-size: 15px;
    transition: 0.3s;
}

.our-card {
    background: #fff;
    padding: 58px 30px 50px;
    transition: 0.3s;
    margin-bottom: 30px;
}

.our-card:hover {
    background: #00897b;
    color: #fff;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.35); 
}

.our-card:hover .icon {
    color: #fff;   
}

.our-card:hover .services__text {
    color: #fff;   
}

.our-card:hover .button-services {
    color: #fff;
    border: 1px solid #fff;  
}

.icon {
    font-size: 60px;
    color: #000;
    transition: 0.3s; 
}

.button-services {
    font-family: 'Open Sans Semibold';
    text-transform: uppercase;
    border: 1px solid black;
    background: transparent;
    padding: 14px 12px 14px;
    transition: 0.3s;
    margin-top: 40px;
}

.button-services:hover {
    cursor: pointer;
    background: #2ecdbd; 
}

/*portfolio*/
.portfolio {
    text-align: center;
    padding-top: 120px;
    padding-bottom: 125px;
}

.portfolio button:hover,
.focused {
    color: #000;
    border: 2px solid #00897b;
    background: transparent;
}

.portfolio img {
    margin-bottom: 30px;
}

.filter {
    padding: 120px 0;
}

div[filter]:hover img {
    filter: brightness(50%);
    transition: 0.3s;
}

.portfolio__description {
    display: none;
}

div[filter]:hover .portfolio__description {
    display: block;
    width: 100%;
    color: #fff;
    position: absolute;
    top: 40%;
    left: 0;
    z-index: 3;
    text-align: center;
}

/*pricing plan*/
.price {
    padding-top: 165px;
    padding-bottom: 125px;
    color: #000;
    background: #f0f1f1;
    text-align: center;
}


.price-card {
    background: #fff;
    transition: 0.3s;
}

.price-card:hover {
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.35); 
}

.price-card__head{
    color: #fff;
    background-image: url(/img/pricing-head.png);
    padding-top: 40px;
    padding-bottom: 65px;
    background-size: cover;
    background-repeat: no-repeat;
    max-height: 221px;
    font-size: 50px;
}

.price-card__head p {
    font-size: 25px;
}

.price-card__head sup {
    font-size: 25px;
    vertical-align: middle;
}

.price-card__head sub {
    font-size: 17px;
    vertical-align: middle;
}

.price-card__body {
    font-size: 17px;
    color: #212121;
}

.price-card__body ul li {
    padding-top: 28px;
    padding-bottom: 12px;
    margin: 0 auto;
    max-width: 175px;
    border-bottom: 1px solid #bfbfbf;
}

.price-card__footer {
    padding: 60px 0;
}

.price-card__footer button {
    cursor: pointer;
    color: #000;
    border: 2px solid #000;
    width: 180px;
    height: 60px;
    background: transparent;
    font-size: 20px;
    text-transform: uppercase;
    transition: 0.3s;
}

.price-card__footer button:hover {
    color: #fff;
    background: #00897b;
    text-transform: uppercase;
    border: none;
}

.team {
    padding-top: 165px;
    padding-bottom: 125px;
    color: #000;
    background: #fff;
    text-align: center;
}

.team h4 {
    font-size: 20px;
    font-family: 'Open Sans Semibold';
    padding-top: 30px;
}

.team p {
    font-size: 15px;
    margin-bottom: 30px;
}

.icons {
    display: flex;
    justify-content: center;
}

.icons a i {
    transition: 0.3s;
}

.icons i:nth-child(1) {
    color: #f0f1f1;
}

.icons i:nth-child(2) {
    color: #00897b;
}

.icons a:hover i:nth-child(1) {
    color: #3949ab;
}

.icons a:hover i:nth-child(2) {
    color: #fff;
}

.team img {
    margin: 0 auto;
    max-width: 340px;
}

.multiple-items {
    margin-top: 125px;
}

.dots-style {
    margin-top: 115px;
    display: flex;
    justify-content: center;
}

.dots-style button {
    background: #00897b;
    border: none;
    border-radius: 50%;
    font-size: 0;
    height: 15px;
    width: 15px;
    margin: 5px;
}

.dots-style li[class="slick-active"] button {
    background: #3949ab;
}

/*Blog*/
.blog {
    padding-top: 165px;
    padding-bottom: 125px;
    background-color: #e4fdf9;
    color: #000;
    text-align: center;
}

.left > div:first-child {
    order: 1;
}

.left > div:last-child {
    order: 2;
}

.right > div:first-child {
    order: 2;
}

.right > div:last-child {
    order: 1;
}

.blog__item_text {
    text-align: left;
    margin-top: 60px;
    margin-left: 20px;
}

.blog__item_text a {
    font-size: 25px;
    color: #00897b;
    font-family: 'Open Sans Semibold';
}

.blog__item_text div {
    margin-top: 15px;
    margin-bottom: 20px;
}

.blog__item_text span {
    font-size: 17px;
    font-family: 'Open Sans Semibold';
    margin-right: 35px;
}


.blog__item_text i {
    margin-right: 15px;
}

.blog__item_text p {
    font-size: 15px;
}

.blog__item_icons {
    margin: 10px 0px;
}

.left, .right {
    margin: 0 -40px;
}

.button_blog {
    width: 220px;
    height: 70px;
    text-transform: uppercase;
    color: #fff;
    font-size: 20px;
    background: #00897b;
    margin-top: 125px;
    border: none;
}